After investigation, we can see that these two dataset has the same sig_gene_seq for the same PUL ID however, there high_level_substr is different. In total, we had 101 rows whose high level substr is different.

In [8]:
import os
import pandas as pd

In [9]:

os.chdir('/work/sghoshstat/ywu39393/subfinder_yifan/')

In [27]:
# file_path = os.path.join("Train_data", "supervised_data.csv")
file_path = os.path.join("Train_data", "updated_data_filtered.csv")
old_data = pd.read_csv(file_path)
old_data = old_data[old_data["high_level_substr"] != "capsule polysaccharide degradation"]
old_data

,PUL ID,high_level_substr,PULid,sig_gene_seq
0,PUL0225,agarose,PUL0225,"HTH_8,GH16,GH117|GH117,GH2,GH2,null,null,null,..."
1,PUL0459,agarose,PUL0459,"GH2,2.A.21,null,null,3.D.1,null,GH96,GH96,null..."
2,PUL0607,agarose,PUL0607,"GH2,GH141,GH105|GH154,null,null,null,1.B.14,nu..."
3,PUL0651,agarose,PUL0651,"GH16_16|CBM6|CBM6,3.D.1,GH50,null,null,null,nu..."
4,PUL0652,agarose,PUL0652,"GH2,2.A.21,null,null,3.D.1,null,GH96,GH96,null..."
...,...,...,...,...
300,PUL0065,xyloglucan,PUL0065,"1.B.14,8.A.46,null,null,GH43_12,null,GH5_4,HTH..."
301,PUL0066,xyloglucan,PUL0066,"null,1.B.14,null,null,GH43_12,GH5_4,null,HTH_A..."
302,PUL0067,xyloglucan,PUL0067,"GH2,GH5_4,null,8.A.46,1.B.14,GH31,HTH_AraC,GH9..."
303,PUL0215,xyloglucan,PUL0215,"GH31,GH35,1.B.14,GH95"
304,PUL0527,xyloglucan,PUL0527,"null,HATPase_c,null,9.B.174,GH3,GH2,GH31,HTH_A..."

In [28]:
# Extract the numeric part of the 'id' column
old_data['numeric_part'] = old_data['PUL ID'].str.extract('(\d+)', expand=False).astype(int)

# Sort the DataFrame based on the numeric part
old_data_sort = old_data.sort_values(by='numeric_part').reset_index(drop=True)

In [29]:
old_data_sort

,PUL ID,high_level_substr,PULid,sig_gene_seq,numeric_part
0,PUL0001,beta-mannan,PUL0001,"GH1,8.A.49,null,null,CE2,GH130,GH130,null,3.A....",1
1,PUL0002,beta-glucan,PUL0002,"null,GH16",2
2,PUL0003,xylan,PUL0003,"GH30_8,GH43_16|CBM6",3
3,PUL0006,galactan,PUL0006,"GH1,HTH_6|SIS,null,null,3.A.1,8.A.59,Response_...",6
4,PUL0007,galactan,PUL0007,"null,null,null,null,GH53,2.A.2,GH42,LacI",7
...,...,...,...,...,...
296,PUL0651,agarose,PUL0651,"GH16_16|CBM6|CBM6,3.D.1,GH50,null,null,null,nu...",651
297,PUL0652,agarose,PUL0652,"GH2,2.A.21,null,null,3.D.1,null,GH96,GH96,null...",652
298,PUL0653,agarose,PUL0653,"GH16_16,HTH_8,null,PfkB,null,null,null,null,GH...",653
299,PUL0654,alginate,PUL0654,"GerE,1.B.14,null,null,GH144,GH144,CE1,GH3,null...",654
300,PUL0655,alginate,PUL0655,"null,null,1.B.14,null,null,PL7,PL7,GntR,null,null",655

In [30]:
old_data["high_level_substr"].value_counts()

pectin                         39
xylan                          35
beta-glucan                    21
alginate                       21
host glycan                    19
starch                         16
cellulose                      16
chitin                         15
galactomannan                  15
glycosaminoglycan              14
arabinan                       12
galactan                       10
alpha-mannan                    8
beta-mannan                     8
carrageenan                     8
xyloglucan                      7
fructan                         7
arabinoxylan                    6
agarose                         6
arabinogalactan                 5
beta-galactooligosaccharide     4
glucomannan                     3
glycogen                        3
alpha-glucan                    3
Name: high_level_substr, dtype: int64

In [31]:
file_path = os.path.join("Train_data", "supervised_data.csv")
# file_path = os.path.join("Train_data", "updated_data_filtered.csv")
data = pd.read_csv(file_path)
data

,PUL ID,high_level_substr,PULid,sig_gene_seq
0,PUL0027,alginate,PUL0027,"null,null,PL5_1,null,null"
1,PUL0051,alginate,PUL0051,"2.A.28,null,PL6|PL6_1,PL17_2|PL17,1.B.14,8.A.46"
2,PUL0052,alginate,PUL0052,"1.B.14,GntR,PL6|PL6_1,PL17_2|PL17,AraC_binding..."
3,PUL0053,alginate,PUL0053,"null,GntR,null,PL6,PL17_2|PL17,2.A.1,null,null"
4,PUL0054,alginate,PUL0054,"null,null,null,PL6|PL6_1,PL17_2|PL17,AraC_bind..."
...,...,...,...,...
296,PUL0622,xylan,PUL0622,"null,null,1.B.14,null,null,null,1.B.14,null,nu..."
297,PUL0624,xylan,PUL0624,"GH43_24,null,GH51|GH43_19,null,1.B.14,8.A.46,n..."
298,PUL0625,xylan,PUL0625,"GH43_12,GH115,GH43_10,GH97,GH43_29|CBM6,CE1|CE..."
299,PUL0630,xylan,PUL0630,"1.B.14,null,null,GH10,GH115,GH11,2.A.2,GH10,GH..."
300,PUL0648,xylan,PUL0648,"GH10,null,null,null,null,1.B.14,GH43_12,GH43_1..."

In [32]:
data["high_level_substr"].value_counts()

beta-glucan        44
xylan              41
pectin             39
host glycan        33
galactan           28
beta-mannan        26
alpha-glucan       22
alginate           21
arabinogalactan    17
chitin             15
alpha-mannan        8
fructan             7
Name: high_level_substr, dtype: int64

In [33]:
# Extract the numeric part of the 'id' column
data['numeric_part'] = data['PUL ID'].str.extract('(\d+)', expand=False).astype(int)

# Sort the DataFrame based on the numeric part
data_sort = data.sort_values(by='numeric_part').reset_index(drop=True)

In [34]:
data_sort

,PUL ID,high_level_substr,PULid,sig_gene_seq,numeric_part
0,PUL0001,beta-mannan,PUL0001,"GH1,8.A.49,null,null,CE2,GH130,GH130,null,3.A....",1
1,PUL0002,beta-glucan,PUL0002,"null,GH16",2
2,PUL0003,xylan,PUL0003,"GH30_8,GH43_16|CBM6",3
3,PUL0006,galactan,PUL0006,"GH1,HTH_6|SIS,null,null,3.A.1,8.A.59,Response_...",6
4,PUL0007,galactan,PUL0007,"null,null,null,null,GH53,2.A.2,GH42,LacI",7
...,...,...,...,...,...
296,PUL0651,galactan,PUL0651,"GH16_16|CBM6|CBM6,3.D.1,GH50,null,null,null,nu...",651
297,PUL0652,galactan,PUL0652,"GH2,2.A.21,null,null,3.D.1,null,GH96,GH96,null...",652
298,PUL0653,galactan,PUL0653,"GH16_16,HTH_8,null,PfkB,null,null,null,null,GH...",653
299,PUL0654,alginate,PUL0654,"GerE,1.B.14,null,null,GH144,GH144,CE1,GH3,null...",654
300,PUL0655,alginate,PUL0655,"null,null,1.B.14,null,null,PL7,PL7,GntR,null,null",655

In [35]:
merged_df = pd.merge(data_sort, old_data_sort, on='PULid', how='outer')

In [36]:
merged_df

,PUL ID_x,high_level_substr_x,PULid,sig_gene_seq_x,numeric_part_x,PUL ID_y,high_level_substr_y,sig_gene_seq_y,numeric_part_y
0,PUL0001,beta-mannan,PUL0001,"GH1,8.A.49,null,null,CE2,GH130,GH130,null,3.A....",1,PUL0001,beta-mannan,"GH1,8.A.49,null,null,CE2,GH130,GH130,null,3.A....",1
1,PUL0002,beta-glucan,PUL0002,"null,GH16",2,PUL0002,beta-glucan,"null,GH16",2
2,PUL0003,xylan,PUL0003,"GH30_8,GH43_16|CBM6",3,PUL0003,xylan,"GH30_8,GH43_16|CBM6",3
3,PUL0006,galactan,PUL0006,"GH1,HTH_6|SIS,null,null,3.A.1,8.A.59,Response_...",6,PUL0006,galactan,"GH1,HTH_6|SIS,null,null,3.A.1,8.A.59,Response_...",6
4,PUL0007,galactan,PUL0007,"null,null,null,null,GH53,2.A.2,GH42,LacI",7,PUL0007,galactan,"null,null,null,null,GH53,2.A.2,GH42,LacI",7
...,...,...,...,...,...,...,...,...,...
296,PUL0651,galactan,PUL0651,"GH16_16|CBM6|CBM6,3.D.1,GH50,null,null,null,nu...",651,PUL0651,agarose,"GH16_16|CBM6|CBM6,3.D.1,GH50,null,null,null,nu...",651
297,PUL0652,galactan,PUL0652,"GH2,2.A.21,null,null,3.D.1,null,GH96,GH96,null...",652,PUL0652,agarose,"GH2,2.A.21,null,null,3.D.1,null,GH96,GH96,null...",652
298,PUL0653,galactan,PUL0653,"GH16_16,HTH_8,null,PfkB,null,null,null,null,GH...",653,PUL0653,agarose,"GH16_16,HTH_8,null,PfkB,null,null,null,null,GH...",653
299,PUL0654,alginate,PUL0654,"GerE,1.B.14,null,null,GH144,GH144,CE1,GH3,null...",654,PUL0654,alginate,"GerE,1.B.14,null,null,GH144,GH144,CE1,GH3,null...",654
300,PUL0655,alginate,PUL0655,"null,null,1.B.14,null,null,PL7,PL7,GntR,null,null",655,PUL0655,alginate,"null,null,1.B.14,null,null,PL7,PL7,GntR,null,null",655

In [42]:
merged_df['is_equal'] = merged_df['high_level_substr_x'] == merged_df['high_level_substr_y']

In [43]:
sum(merged_df['is_equal'])

191

In [46]:
different_rows = merged_df[~merged_df['is_equal']]

In [47]:
print(different_rows)

    PUL ID_x high_level_substr_x    PULid  \
6    PUL0009         host glycan  PUL0009
8    PUL0011         beta-glucan  PUL0011
10   PUL0013     arabinogalactan  PUL0013
12   PUL0018         host glycan  PUL0018
13   PUL0020         host glycan  PUL0020
..       ...                 ...      ...
291  PUL0644               xylan  PUL0644
292  PUL0645               xylan  PUL0645
296  PUL0651            galactan  PUL0651
297  PUL0652            galactan  PUL0652
298  PUL0653            galactan  PUL0653

                                        sig_gene_seq_x  numeric_part_x  \
6    LacI,PfkB,null,PL8,null,null,3.A.1,3.A.1,3.A.1...               9
8                           GH48,GH8,GH9|CBM3,CBM4|GH9              11
10   3.A.1,8.A.59,HTH_AraC|HTH_AraC,3.A.1,null,null...              13
12   CBM70|PL8_1,null,PfkB,null,null,4.A.6,GH88,4.A...              18
13   null,PL12_1,null,null,4.A.6,4.A.6,4.A.6,GH88,n...              20
..                                                 ...             ...
291  HTH_AraC,GH43_2|CBM6,GH43_17,CE1,CE1,null,null...             644
292  HTH_AraC,GH43_2|CBM6,GH3,GH43_17,null,GH43_7|G...             645
296  GH16_16|CBM6|CBM6,3.D.1,GH50,null,null,null,nu...             651
297  GH2,2.A.21,null,null,3.D.1,null,GH96,GH96,null...             652
298  GH16_16,HTH_8,null,PfkB,null,null,null,null,GH...             653

    PUL ID_y high_level_substr_y  \
6    PUL0009   glycosaminoglycan
8    PUL0011           cellulose
10   PUL0013            arabinan
12   PUL0018   glycosaminoglycan
13   PUL0020   glycosaminoglycan
..       ...                 ...
291  PUL0644        arabinoxylan
292  PUL0645        arabinoxylan
296  PUL0651             agarose
297  PUL0652             agarose
298  PUL0653             agarose

                                        sig_gene_seq_y  numeric_part_y  \
6    LacI,PfkB,null,PL8,null,null,3.A.1,3.A.1,3.A.1...               9
8                           GH48,GH8,GH9|CBM3,CBM4|GH9              11
10   3.A.1,8.A.59,HTH_AraC|HTH_AraC,3.A.1,null,null...              13
12   CBM70|PL8_1,null,PfkB,null,null,4.A.6,GH88,4.A...              18
13   null,PL12_1,null,null,4.A.6,4.A.6,4.A.6,GH88,n...              20
..                                                 ...             ...
291  HTH_AraC,GH43_2|CBM6,GH43_17,CE1,CE1,null,null...             644
292  HTH_AraC,GH43_2|CBM6,GH3,GH43_17,null,GH43_7|G...             645
296  GH16_16|CBM6|CBM6,3.D.1,GH50,null,null,null,nu...             651
297  GH2,2.A.21,null,null,3.D.1,null,GH96,GH96,null...             652
298  GH16_16,HTH_8,null,PfkB,null,null,null,null,GH...             653

     is_equal
6       False
8       False
10      False
12      False
13      False
..        ...
291     False
292     False
296     False
297     False
298     False

[110 rows x 10 columns]